name: werkbank_werkbank
description: "The Werkbank for Werkbank"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2
  werkbank:
    path: ../../packages/werkbank

dev_dependencies:
  flutter_test:
    sdk: flutter
  werkbank_lints:
    path: ../../packages/werkbank_lints

flutter:
  uses-material-design: true
  assets:
    - assets/logos/
