name: analyze

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  analyze:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - "apps/werkbank_werkbank"
          - "example/example_werkbank"
          - "packages/werkbank"
          - "packages/subpack_analyzer"

    name: flutter analyze
    runs-on: ubuntu-latest
    container: ghcr.io/cirruslabs/flutter:3.38.1

    steps:
      - uses: actions/checkout@v4

      - name: Check expected flutter version
        shell: python3 {0}
        run: |
          import json
          import os

          fvmrc_version = json.load(open(".fvmrc"))["flutter"]
          sdk_version = os.environ["FLUTTER_VERSION"]

          assert fvmrc_version == sdk_version

      - name: Install dependencies
        working-directory: ${{ matrix.directory }}
        run: flutter pub get

      - name: Analyze project source
        working-directory: ${{ matrix.directory }}
        run: flutter analyze

  subpack-analyze:
    name: subpack analyze
    runs-on: ubuntu-latest
    container: ghcr.io/cirruslabs/flutter:3.38.1

    steps:
      - uses: actions/checkout@v4

      - name: Check expected flutter version
        shell: python3 {0}
        run: |
          import json
          import os

          fvmrc_version = json.load(open(".fvmrc"))["flutter"]
          sdk_version = os.environ["FLUTTER_VERSION"]

          assert fvmrc_version == sdk_version

      - name: Install dependencies of subpack analyzer
        working-directory: packages/subpack_analyzer
        run: dart pub get

      - name: Run subpack analyzer
        working-directory: packages/werkbank
        run: dart run ../subpack_analyzer/bin/subpack_analyzer.dart run
