name: build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-example:
    name: build example project
    runs-on: ubuntu-latest
    container: ghcr.io/cirruslabs/flutter:3.38.1

    steps:
      - uses: actions/checkout@v4

      - name: Check expected flutter version
        shell: python3 {0}
        run: |
          import json
          import os

          fvmrc_version = json.load(open(".fvmrc"))["flutter"]
          sdk_version = os.environ["FLUTTER_VERSION"]

          assert fvmrc_version == sdk_version

      - name: Install dependencies
        working-directory: example/example_werkbank
        run: flutter pub get

      - name: Build web version of the example project
        working-directory: example/example_werkbank
        run: flutter build web --base-href /werkbank/

      - name: Upload the generated artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: example/example_werkbank/build/web
          retention-days: 90

  deploy-example:
    name: deploy example project
    runs-on: ubuntu-latest
    needs: build-example

    if: ${{ github.ref == 'refs/heads/main' && vars.DEPLOY_PAGES }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
